Name: alios
Package: net.z448.alios
Section: Utilities
Maintainer: Zdenek Bohunek (z448) <cydia@load.sh>
Architecture: iphoneos-arm
Version: 2.3-4
Depends: bash, coreutils-bin
Description: create and track aliases for app UUIDs
Homepage: load.sh/cydia/www/alios

